#a0{
 border-top-left-radius:50px;
 border-top-color:white;
 border-left-color:white;
}
#a8{
    border-bottom-right-radius: 50px;
    border-bottom-color:white;
    border-right-color:white;
   }
   #a6{
    border-bottom-left-radius: 50px;
    border-left-color:white ;
    border-bottom-color:white;
   }
   #a2{
    border-top-right-radius: 50px;
    border-top-color:white;
    border-right-color:white;
   }
 
   .scale-in-center {
	-webkit-animation: scale-in-center 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  
  